<div class="publications">
  {% bibliography --group_by none --query @*[key=kohli2026loopthinkgeneralize]* %}
  {% bibliography --group_by none --query @*[key=yao2025implicit]* %}
  {% bibliography --group_by none --query @*[key=yao2022structural]* %}
</div>
